* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* para celular */
@media screen and (max-width: 768px) {
    #toggleSidebar{
        display: absolute;
        right: 0px;
        background-color: rgb(157, 11, 194);
        color: white;
        border: none;
        padding: 8px 15px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
    }

    #submenu{
        padding-left: 25px;
        
    }
    
    #submenu a{
        margin-bottom: 2px;
        font-size: 15px;  
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    .has-submenu .submenu {
        display: none;
        flex-direction: column;
    }
    
    .has-submenu.active .submenu {
        display: flex;
    }
 
    nav.menu_lateral {
        width: 0px;
        height: 100%;
        background-color: rgb(175, 96, 169);
        position: fixed;
        padding: 10px 0 10px;
        top: 0px;
        right: 0;
        overflow: visible;
        transition: 0.8s;
        z-index: 1000;
    }

    nav.menu_lateral.ativo {
        width: 220px;

    }

    .expandir {
        width: 100%;
        padding-left: 13px;
        margin-bottom: 10px;
    }

    .expandir>i {
        color: black;
        cursor: pointer;
        font-size: 34px;
    }

    ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        padding-left: 0px;
        position: absolute;

    }

    ul li.item_menu:hover {
        background-color: rgb(137, 61, 139);
        transition: .2s;
    }

    ul li.item_menu a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 17px;
        padding: 10px 20px;
        display: flex;
        margin-bottom: 12px;
        position: static;
        line-height: 25px;
    }

    ul li.item_menu a .link {
        margin-left: 22px;
    }
    .phone-hidden{
        display: none;
        color: white;
    }
}


/* para desktop */
@media (min-width: 769px) {
    #toggleSidebar {
        display: none;
    }

    nav.menu_lateral {
        display: none;
    }

    .phone-hidden{
        display: block;
        color: white;
    }
}

