/* User Cards */
.user-box {
    width: 110px;
    margin: auto;
    margin-bottom: auto;
    padding: auto;

}

/* Modal -Edit */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-editar-perfil {
    display: flex;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Para pré- visualização da imagem */
form {
    width: 80%;
}
#preview-container {
    height: 32vh;
    width: 35vw;;
    margin-top: 20px;
    text-align: center;
}

#preview {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 5px;
}
/*  */

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding-right: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #9c27b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b1fa2;
}

input[type="text"] {
    margin-right: 10px;
}

/* PopUp para Habilidades */

input[type="checkbox"] {
    margin-left: 25px;
}

#checkboxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 20px
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #70058683;
    border-radius: 10px;
    padding: 20px;
    width: 60vw;
    height: auto;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    font-size: 18px;
}

.custom-alert p {
    margin-bottom: 15px;
}

.custom-alert button {
    padding: 8px 16px;
    background-color: #540768;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.bg-primary {
    background-color: #7a067abe !important;
}

.user-box img {
    width: 100%;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-card-4 .user-box {
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #223035;
}

.profile-card-4 .list-details {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
}

.profile-card-4 .list-details small {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.nav-pills .nav-link:hover {
    background-color: #f4f5fa;
}

.nav-pills .nav-link i {
    margin-right: 2px;
    font-weight: 600;
}

.top-icon.nav-pills .nav-link i {
    margin: 0px;
    font-weight: 500;
    display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #bb2baf;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(49, 16, 42, 0.5);
}

.nav-pills-success .nav-link.active,
.nav-pills-success .show>.nav-link {
    color: #fff;
    background-color: #15ca20;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(21, 202, 32, .5);
}

.nav-pills-info .nav-link.active,
.nav-pills-info .show>.nav-link {
    color: #fff;
    background-color: #0dceec;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(13, 206, 236, 0.5);
}

.nav-pills-danger .nav-link.active,
.nav-pills-danger .show>.nav-link {
    color: #fff;
    background-color: #fd3550;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(253, 53, 80, .5);
}

.nav-pills-warning .nav-link.active,
.nav-pills-warning .show>.nav-link {
    color: #fff;
    background-color: #ff9700;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 151, 0, .5);
}

.nav-pills-dark .nav-link.active,
.nav-pills-dark .show>.nav-link {
    color: #fff;
    background-color: #223035;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(34, 48, 53, .5);
}

.nav-pills-secondary .nav-link.active,
.nav-pills-secondary .show>.nav-link {
    color: #fff;
    background-color: #75808a;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(117, 128, 138, .5);
}

.card .tab-content {
    padding: 1rem 0 0 0;
}

.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}

.modal-contatos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.modal-buttons {
    margin-top: 15px;
    text-align: right;
}

.modal-buttons button {
    padding: 5px 15px;
    margin-left: 10px;
}

.loading {
    padding: 20px;
    text-align: center;
    color: #666;
}

.error {
    padding: 20px;
    text-align: center;
    color: #d9534f;
}

.error button {
    background: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Para deletar perfil: */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.pop-up-deletar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #70058683;
    border-radius: 10px;
    padding: 20px;
    width: 55vw;
    height: 35vh;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    font-size: 18px;
}

.pop-up-deletar p {
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 25px;
    text-align: justify;
}

.pop-up-deletar button {
    padding: 8px 16px;
    background-color: #540768;
    border-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 16px;
    width: 250px;
}

@media screen and (max-width: 768px) {
    .mb-3, .my-3 {
        margin-top: 1rem;
    }
    .modal-content-editar-perfil{
        display: block;
    }
    .separador{
        margin-top: 20px;
    }
    #preview {
        width: 40vw;
        height: 30vh;
    }
    #preview img {
        justify-content: center;
        object-fit: cover; 
    }
}