<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free'La</title>
  <link rel="shortcut icon" href="../static/imgs/icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/sidebar.css">
  <link rel="stylesheet" href="/static/complementos.css">

</head>

<body>
  <header>
    <div class="container">
      <nav class="menu_lateral" id="menu_lateral">
        <div class="expandir">
          <i class="bi bi-list"></i>
        </div>
        <ul>
          <span class="icon"><img src="/static/imgs/perfil.png" width="140px" style="margin-left: 20px;"></span>
          <li class="item_menu">
            <a href="../templates/perfil.html">
              <span class="icon"></span>
              <span class="link">Perfil</span>
            </a>
          </li>
          <li class="item_menu">
            <a href="#">
              <span class="icon"><i class="#"></i></span>
              <span class="link">Sobre</span>
            </a>
          </li>
          <li class="item_menu">
            <a href="#">
              <span class="icon"><i class="#"></i></span>
              <span class="link">Contato</span>
            </a>
          </li>
          <li class="item_menu">
            <a href="../templates/alterarDados.html">
              <span class="icon"><i class="#"></i></span>
              <span class="link">Configurações</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          Login/Cadastro
        </a>
        <button id="toggleSidebar" style="font-size: 20px;">☰</button>
      </div>
    </div>
  </header>

  <main>

    <!-- Centro do site -->
    <section class="jumbotron text-center">
      <div class="container">
        <img class="logo" src="/static/imgs/free'la.png" width="110%" height="100%">
        <br><br>
        <p class="lead text-muted">O Free'la é a plataforma ideal para conectar talentos a oportunidades! Seja você um
          freelancer em busca de novos projetos, uma empresa precisando de especialistas ou apenas alguém precisando de
          ajuda, aqui você encontra profissionais qualificados e serviços sob medida para suas necessidades. Com um
          sistema intuitivo e seguro, o Free'la facilita negociações e entrega de trabalhos, garantindo agilidade e
          qualidade para todos. Encontre, contrate e colabore com os melhores do mercado em um só lugar!</p>
        <input class="pesquisa" type="text" placeholder="Pesquise aqui!" id="campo-pesquisa">
        <button class="pesquisar_btn" onclick="pesquisar()">
          <img src="/static/imgs/pesquisa-de-lupa.png" width="20px">
        </button>
      </div>
    </section>

    <!-- Exemplos de Cards -->
    <!--<div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="../imgs/fundo_padrao.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural
                  ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="../imgs/fundo_padrao.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural
                  ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="../imgs/fundo_padrao.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Este é um card maior e que suporta texto abaixo, como uma introdução mais natural
                  ao conteúdo adicional. No entanto, esse conteúdo é um pouco maior.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Seção de Resultados -->
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row" id="resultados-pesquisa">
          <!-- Os cards serão gerados aqui via JavaScript -->
        </div>
      </div>
    </div>

  </main>
</body>
<script src="/static/homepage.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>