<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro / Login</title>
    <link rel="shortcut icon" href="../static/imgs/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>
    <div class="container" id="container">
        <!-- Formulário de Cadastro -->
        <div class="form-container sign-up-container">
            <form id="form-cadastro" novalidate>
                <h1>Crie sua Conta</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="/static/imgs/facebook.png" alt="Facebook"></a>
                    <a href="#" class="social"><img src="/static/imgs/google.png" alt="Google"></a>
                    <a href="#" class="social"><img src="/static/imgs/linkedin.png" alt="LinkedIn"></a>
                </div>
                <span>Se já possui cadastro <a onclick="alternarModo('login')" href="#">Clique Aqui!</a></span>

                <div class="input-container">
                    <input id="nome" type="text" placeholder="Nome*" />
                    <i data-tooltip="Digite seu nome completo." class="bi bi-question-circle-fill"></i>
                </div>

                <div class="input-container">
                    <input id="email" type="email" placeholder="Email*" />
                    <i data-tooltip="Digite seu melhor e-mail." class="bi bi-question-circle-fill"></i>
                </div>

                <div class="input-container">
                    <input id="dataNascimento" type="date" placeholder="Data de Nascimento*" />
                    <i data-tooltip="Informe sua data de nascimento. Apenas maiores de 18 anos podem se cadastrar." class="bi bi-question-circle-fill"></i>
                </div>

                <div class="input-container">
                    <input id="cpf" type="text" placeholder="CPF*" />
                    <i data-tooltip="Informe o seu CPF, apenas números." class="bi bi-question-circle-fill"></i>
                </div>

                <div class="input-container">
                    <i data-tooltip="A senha deve ter 8+ caracteres, uma letra maiúscula, um número e um caractere especial." class="bi bi-question-circle-fill"></i>
                    <div class="senha-container">
                        <input type="password" id="senha" placeholder="Senha*" />
                        <i class="bi bi-eye-fill" id="btn-senha1" onclick="toggleSenha('senha','btn-senha1')"></i>
                    </div>

                    <div class="senha-container">
                        <input type="password" id="confirma-senha" placeholder="Confirmar Senha*" />
                        <i class="bi bi-eye-fill" id="btn-senha2" onclick="toggleSenha('confirma-senha','btn-senha2')"></i>
                    </div>
                </div>

                <div id="termosDeServico">
                    <input type="checkbox" id="checkbox" />
                    <span>Li e aceito os <a href="/termos" target="_blank">termos de uso e a política de privacidade</a>.</span>
                </div>

                <span id="senha-erro" class="erro"></span>
                <button type="submit">Criar Conta</button>
            </form>
        </div>

        <!-- Formulário de Login -->
        <div class="form-container sign-in-container">
            <form id="form-login" novalidate>
                <h1>Realize seu Login</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="/static/imgs/facebook.png" alt="Facebook"></a>
                    <a href="#" class="social"><img src="/static/imgs/google.png" alt="Google"></a>
                    <a href="#" class="social"><img src="/static/imgs/linkedin.png" alt="LinkedIn"></a>
                </div>
                <span>Ou se não possui uma conta <a href="#" onclick="alternarModo('cadastro')">Clique Aqui!</a></span>
                <input id="login-email" type="email" placeholder="Email" />
                <div class="senha-container">
                    <input id="login-senha" type="password" placeholder="Senha" />
                    <i class="bi bi-eye-fill" id="btn-senha3" onclick="toggleSenha('login-senha','btn-senha3')"></i>
                </div>
                <a href="#">Esqueceu sua senha?</a>
                <button type="submit">Login</button>
            </form>
        </div>

        <!-- Elementos decorativos -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bem-vindo de volta!</h1>
                    <p>Para continuar conectado, faça login com suas informações pessoais.</p>
                    <button class="ghost" id="signIn" onclick="alternarModo('login')">Faça seu Login</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Olá, amigo!</h1>
                    <p>Insira seus dados e comece sua jornada conosco!</p>
                    <button class="ghost" id="signUp" onclick="alternarModo('cadastro')">Criar conta</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</body>

</html>
