<!-- Navbar desktop reutilizável -->
<nav class="desktop-version navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="/homepage" class="navbar-brand d-flex align-items-center">Home</a>
        <a href="#" class="phone-hidden dropdown-toggle" id="desktopConfigDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Configurações</a>
        <div class="dropdown-menu" aria-labelledby="desktopConfigDropdown">
            <a class="dropdown-item" href="/alterarDados">Atualizar Dados</a>
            <a class="dropdown-item" href="#" onclick="showPopUpDeletar()">Deletar Perfil</a>
            {% if session.user_id %}
            <a class="dropdown-item" href="/" onclick="logout()">Logout</a>
            {% else %}
            <a class="dropdown-item" href="/">Login</a>
            {% endif %}
        </div>
        <button id="toggleSidebar" onclick="setupSideBar()" style="font-size: 20px;">☰</button>
    </div>
</nav>


<div class="overlay" id="overlay"></div>
<div class="pop-up-deletar" id="pop-up-deletar">
    <h3>Deletar Perfil?</h3>
    <p>Tem certeza que deseja excluir seu perfil? <br>
        Você perderá todos seus dados e não poderá executar todas as funcionalidades do Site</p>
    <button onclick="fecharPopUpDeletar()">NÃO, RETORNAR PARA A HOMEPAGE</button>
    <button onclick="confirmarDelecao()">SIM, DESEJO DELETAR OS MEUS DADOS</button>
</div>


<script type="module" src="{{ url_for('static', filename='js/common.js') }}"></script>