<head>

</head>
<!-- Sidebar e menu lateral reutilizável -->
<nav class="menu_lateral" id="menu_lateral">
    <div class="expandir">
        <i class="bi bi-list"></i>
    </div>
    <ul>
        <img src="/profile/imagem/{{ session.user_id }}" alt="Perfil" width="140px" class="img_sidebar"
            style="margin-left: 1rem;">
        <li class="item_menu">
            <a href="/perfil">
                <span class="icon"></span>
                <span class="link">Perfil</span>
            </a>
        </li>
        <li class="item_menu">
            {% set tipo_usuario = session['TipoUsuario'] if session and 'TipoUsuario' in session else
            (session['tipo_usuario'] if session and 'tipo_usuario' in session else None) %}
            {% if tipo_usuario == 'freelancer' %}
            <a href="/servicosFreelancer">
                <span class="icon"><i class="#"></i></span>
                <span class="link">Meus Serviços</span>
            </a>
            {% else %}
            <a href="/alterarDados">
                <span class="icon"><i class="#"></i></span>
                <span class="link">Torne-se Freelancer</span>
            </a>
            {% endif %}
        </li>
        <li class="item_menu">
            <a href="/servicosCliente">
                <span class="icon"><i class="#"></i></span>
                <span class="link">Serviços Pedidos</span>
            </a>
        </li>
        <li class="item_menu has-submenu">
            <a href="#" onclick="toggleSubmenu(event)">
                <span class="icon"><i class="#"></i></span>
                <span class="link">Configurações</span>
            </a>
            <ul class="submenu">
                <li class="item_menu" id="submenu">
                    <a href="/alterarDados">
                        <span class="icon"><i class="#"></i></span>
                        <span class="link">Atualizar Dados</span>
                    </a>
                </li>
                <li class="item_menu" id="submenu">
                    <a href="#" onclick="showPopUpDeletar()">
                        <span class="icon"><i class="#"></i></span>
                        <span class="link">Deletar Perfil</span>
                    </a>
                </li>
                <li class="item_menu" id="submenu">
                    {% if session.user_id %}
                    <a href="/" onclick="logout()">
                        <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                        <span class="link">Logout</span>
                    </a>
                    {% else %}
                    <a href="/">
                        <span class="icon"><i class="bi bi-box-arrow-in-right"></i></span>
                        <span class="link">Login</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </li>
    </ul>
</nav>

<div class="overlay" id="overlay"></div>
<div class="pop-up-deletar" id="pop-up-deletar">
    <h3>Deletar Perfil?</h3>
    <p>Tem certeza que deseja excluir seu perfil? <br>
        Você perderá todos seus dados e não poderá executar todas as funcionalidades do Site</p>
    <button onclick="fecharPopUpDeletar()">NÃO, RETORNAR PARA A HOMEPAGE</button>
    <button onclick="confirmarDelecao()">SIM, DESEJO DELETAR OS MEUS DADOS</button>
</div>

<script src="{{ url_for('static', filename='js/common.js') }}"></script>