<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/imgs/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Alterar Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/complementos.css') }}">
    <style>
        form {
            display: flex;
            flex-direction: column;
            padding: 15px;
        }

        p {
            color: rgba(161, 0, 0, 0.897);
        }

        @media screen and (max-width: 768px) {
            body {
                margin: 20px;
            }

        }

        .form-switch,
        .form-check-input {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: 5em;
            height: 1.5em;
        }

        .form-switch .form-check-input:checked {
            background-color: #5218bd;
            border-color: #5218bd;
        }

        #tipoUsuarioLabel {
            font-weight: 500;
            margin-left: 0.5rem;
        }

        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;

        }

        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;

        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <!-- Para celulares -->
            <nav class="menu_lateral" id="menu_lateral">
                <div class="expandir">
                    <i class="bi bi-list"></i>
                </div>
                <ul>
                    <span class="icon"><img src="/static/imgs/perfil.png" width="140px"
                            style="margin-left: 20px;"></span>
                    <li class="item_menu">
                        <a href="/perfil">
                            <span class="icon"></span>
                            <span class="link">Perfil</span>
                        </a>
                    </li>
                    <li class="item_menu">
                        <a href="#">
                            <span class="icon"><i class="#"></i></span>
                            <span class="link">Sobre</span>
                        </a>
                    </li>
                    <li class="item_menu">
                        <a href="#">
                            <span class="icon"><i class="#"></i></span>
                            <span class="link">Contato</span>
                        </a>
                    </li>
                    <li class="item_menu has-submenu">
                        <a href="#" onclick="toggleSubmenu(event)">
                            <span class="icon"><i class="#"></i></span>
                            <span class="link">Configurações</span>
                        </a>

                        <ul class="submenu">
                            <li class="item_menu" id="submenu">
                                <a href="/alterarDados">
                                    <span class="icon"><i class="#"></i></span>
                                    <span class="link">Atualizar Dados</span>
                                </a>
                            </li>
                            <li class="item_menu" id="submenu">
                                <a href="#" onclick="showPopUpDeletar()">
                                    <span class="icon"><i class="#"></i></span>
                                    <span class="link">Deletar Perfil</span>
                                </a>
                            </li>
                            <li class="item_menu" id="submenu">
                                {% if session.user_id %}
                                <a href="/" onclick="logout()">
                                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                                    <span class="link">Logout</span>
                                </a>
                                {% else %}
                                <a href="/">
                                    <span class="icon"><i class="bi bi-box-arrow-in-right"></i></span>
                                    <span class="link">Login</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="overlay" id="overlay"></div>
        <div class="pop-up-deletar" id="pop-up-deletar">
            <h3>Deletar Perfil?</h3>
            <p>Tem certeza que deseja excluir seu perfil? <br>
                Você perderá todos seus dados e não poderá executar todas as funcionalidades do Site</p>
            <button onclick="fecharPopUpDeletar()">NÃO, RETORNAR PARA A HOMEPAGE</button>
            <button onclick="confirmarDelecao()">SIM, DESEJO DELETAR OS MEUS DADOS</button>
        </div>


        <!-- Par desktops -->
        <nav class="desktop-version">
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="/homepage" class="navbar-brand d-flex align-items-center">Menu</a>
                    <a href="#" class="phone-hidden">Sobre</a>
                    <a href="#" class="phone-hidden">Contato</a>
                    <a href="#" class="phone-hidden dropdown-toggle" id="desktopConfigDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Configurações</a>
                    <div class="dropdown-menu" aria-labelledby="desktopConfigDropdown">
                        <a class="dropdown-item" href="/alterarDados">Atualizar Dados</a>
                        <a class="dropdown-item" href="#" onclick="showPopUpDeletar()">Deletar Perfil</a>
                        {% if session.user_id %}
                        <a class="dropdown-item" href="/" onclick="logout()">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="/">Login</a>
                        {% endif %}
                    </div>
                    <button id="toggleSidebar" style="font-size: 20px;">☰</button> <!-- Some na versão desktop -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="tab-pane" id="edit">
            <form id="form-edicao">
                <!-- Dados Básicos -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Nome Completo</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" id="nome">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" id="email">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Telefone</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="tel" id="telefone">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">CPF</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" id="cpf">
                    </div>
                </div>

                <!-- Seção de Endereço -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Endereço</label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" id="cep" name="cep" placeholder="CEP">
                        <p id="cep-error" class="text-danger small" style="display: none;">CEP inválido!</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="logradouro" placeholder="Logradouro">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" name="cidade" placeholder="Cidade">
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" type="text" name="bairro" placeholder="Bairro">
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" type="text" name="estado" placeholder="Estado">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-2">
                        <input class="form-control" type="number" name="numero" placeholder="Número">
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" name="complemento" placeholder="Complemento">
                    </div>
                </div>

                <!-- Switch Freelancer/Cliente -->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="tipoUsuarioSwitch" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Preencha todos os dados para virar Freelancer">
                    <label class="form-check-label" for="tipoUsuarioSwitch">
                        <span id="tipoUsuarioLabel">Cliente</span>
                    </label>
                </div>

                <!-- Botões -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <button type="button" class="btn btn-secondary me-2" id="btnCancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary" style="background-color: #5218bd;">
                            Salvar Alterações
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/dados.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script>
        function toggleSubmenu(event) {
            event.preventDefault();
            const item = event.currentTarget.closest('.has-submenu');
            item.classList.toggle('active');
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#cep').mask('00000-000');
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


</html>